<div class="wrap">
  <div class="slider-wrap">
    <mat-slider (change)="sliderChange()" min="1" max="1000" step="1" [(ngModel)]="timer"></mat-slider>
    <p>interval ms.: {{timer}}  </p>
    <mat-slider (change)="sliderChange()" min="1" max="1000000" step="1" [(ngModel)]="size"></mat-slider>
    <p>size: {{size}}  </p>
  </div>  
  <div>
    <p>spinner will freeze on high load if main thread option selected and works fine with web worker</p>
    <mat-radio-group 
    aria-label="Select an option"     
    name="radioOpt1" 
    [(ngModel)]="selectedRadio"
    (change)="radioChange()">
      <mat-radio-button value="main">main thread</mat-radio-button>
      <mat-radio-button value="worker">web worker</mat-radio-button>
    </mat-radio-group>
    <mat-spinner></mat-spinner>
  </div>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="data$">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let data"> {{data.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="float">
        <th mat-header-cell *matHeaderCellDef> float </th>
        <td mat-cell *matCellDef="let data"> {{data.float}} </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> color </th>
        <td mat-cell *matCellDef="let data" [style.background-color]="data.color">
          {{data.color}}
        </td>
      </ng-container>

      <ng-container matColumnDef="int">
        <th mat-header-cell *matHeaderCellDef> int </th>
        <td mat-cell *matCellDef="let data"> {{data.int}} </td>
      </ng-container>

      <ng-container matColumnDef="child">
        <th mat-header-cell *matHeaderCellDef> child </th>
        <td mat-cell *matCellDef="let data"> 
          <table>
            <th>id</th>
            <td>{{data.id}}</td>
            <th>color</th>
            <td [style.background-color]="data.color">{{data.color}}</td>
          </table>
        </td>
      </ng-container>
 
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
</div>
